body{background-color: black;}
*{
  display: block;
  margin: auto;


}

h3{
  width:50%;
}

p{
  font-style: oblique;
  width:50%;

}

#image1{
  padding-top:10px;
  width:50%;
  height:30%;
  }

#image2{
 padding-top:10px;
 padding-bottom:10px;
  width: 20%;
  height:20%;
}

#menu{

  text-decoration: underline;
  position:relative;

  color: white;

  float:left;

}
